<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>TOMATO</title>
  </head>

  <body>
    <!-- The top part of the page -->
    <div class="header">
      {% if matches|length %} 
      <img src="../static/pingu2.png" width="250px" height="300px">
     {% else %}
     <img src="../static/pingu1.png" width="250px" height="300px">
     {% endif %}
      <h1>TOMATO ENGINE</h1>
      <p>Happy {{ day }}!</p>
    </div>

    <!-- The search bar section -->
    <div class="search nav">
      <p>Search for something</p>
      <form>
        <select name="mealtype">
          {% for meal in mealtypes %}
              <option value="{{ meal }}">{{ meal }}</option>
          {% endfor %}
        </select>
        <input type="text" name="query" autofocus>
        <button type="submit" value="Search">Search</button>
      </form>
    </div>
    
    <!-- The returned document section ("main" section of our page) -->
    <div class="main">
         <!-- if "matches" are not empty (or None), print contents -->
         <thead>     
          <div class="caption"><h3>{{ matches|length }} results for query <i>{{original_query}}</i></h3></div>
        </thead>
        {% if matches|length %} 
        <table class="search results">
          <!-- Title of the table -->
          {% for title, contents in matches.items() %}
            <!-- First row is the title -->
            <tr>
              <td><h2><u>{{ title }}</u></h2></td>
            </tr>
            <!-- Second row is the contents (with truncate you can change the amount od characters showing) -->
            {% for ingredient in contents[0] %}
            <tr>
              <td><i>{{ ingredient }}</i></td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
            </tr>
            {% for method in contents[1] %}
            <tr>
                <td>{{ method | truncate(700) }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        <!-- if "matches" are empty (or None), print "tomato" or something -->
        {% else %}
        <tr>
          {{ "Tomato" }}
        </tr>
        {% endif %}
      </table>
  </div>

</body>