<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="whole_recipe">
  <html>
    <head>
    <style>
    </style>
    </head>

    <body>
      <div class="main">
        <table class="search results">
           <tr>
             <td><h2>{{ name }}</h2>
              <br>
            </td>

           </tr>
           {% for ingr in ingredients %}
           <tr>
             <td><i>{{ ingr }}</i></td>
           </tr>
           {% endfor %}
           <tr>
            <td>
              <br>
            </td>
          </tr>
           {% for method in methods %}
           <tr>
            <td>{{ method }}</td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </body>
</div>
{% endblock %}
</html>