body, html {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
input {
  width: 400px;
}
.search.nav {
  text-align: center;
}
.header {
  padding: 50px;
  text-align: center;
  background: #DarkOrange;
  color: white;
  font-size: 30px;
}
.results {
  text-align: left;
}
caption {
  text-align: left;
}
.main {
  padding: 60px;
}
h2 {
  color: #1abc9c;
  font-size: 20px;
  font-family: Helvetica;
}
h3 {
  font-size: 15px;
}
