  body, html {
  margin: 0;
  font-family: monospace;
  text-align: center;
  background: AliceBlue;
  }
  
  h1 {
  color: tomato;
  font-family: monospace;
  font-size: 25px;
  }

  .header {
  padding: 50px;
  text-align: center;
  background: AliceBlue;
  color: tomato;
  font-family: monospace;
  font-size: 20px;
  }

  .results {
  text-align: left;
  }
  
  .caption {
  text-align: left;
  }
  
  .main {
  padding: 60px;
  }
  
  h2 {
  color: #FF8C00;
  font-size: 20px;
  font-family: Helvetica;
  }
  
  h3 {
  font-size: 15px;
  }
  
  /*Resize the search nav to see the search bar change!*/
  .search nav{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }